@import "tailwindcss";

@font-face {
  font-family: "Genshin";
  src: url("./assets/fonts/zh-cn.ttf") format("truetype");
}

@theme {
  --font-lora: "Lora", ui-serif, Georgia, serif;
  --font-genshin: "Genshin", ui-serif, Georgia, serif;
}

body {
  background-color: #0D1158;
}